<mj-section background-color="#2589C7" padding-top="32px" padding-bottom="32px" border-radius="4px 4px 0 0">
  <mj-column>
    <mj-text color="white" font-size="20px" font-weight="medium" align="center">
      <h1>
        Mot de passe oublié
      </h1>
    </mj-text>
  </mj-column>
</mj-section>
<mj-section background-color="#FFFFFF" border-radius="0px 0px 4px 4px" border-left="1px solid #CBD5E0" border-right="1px solid #CBD5E0" border-bottom="1px solid #CBD5E0">
  <mj-column>
    <mj-text>
      <p>
        Salut !
      </p>
      <p>
        Une demande de réinitialisation de mot de passe a été effectué sur votre compte. Pour modifier ce dernier, veuillez cliquer sur le lien ci-dessous et suivre les instructions.
      </p>
    </mj-text>
    <mj-button
      href="<%= ENV['WEB_BASE'] %>/auth/reset-password?token=<%= @token %>"
      align="left"
      padding-bottom="32px"
    >
      Réinitialiser mon mot de passe
    </mj-button>
  </mj-column>
</mj-section>
